*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
li{
    position: relative;
    list-style-type: none ;


    /*Para submenu vertical*/
    /* width: 120px; */
}
li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    width: 120px;
    background-color: rgb(36, 47, 67);
}
li>ul{
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
}
li a:hover{
    color: #000;
    background-color: #fff;
}
li:hover>ul{
    display: block;
}
li>ul>li{
    float: left;
}

