h1{
    border-width: 0px 0px 5px 0px;
    border-bottom-color:blue ;
    border-style:solid ;
}
h2{
    border: 2px gray solid;
}
.ul1{  
    border-width: 5px 0px ;
    border-color: red;
    border-style: dotted;
}
.ul1 ~ ul{
    border: 5px green dotted;
}