*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav ul{
    list-style-type:none ;
    margin: 0px;
    padding: 0px;
}
li{
    float: left;
    background-color: #230f45;
}
li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
}
nav li:hover{
    background-color: #2d0cb3;
    color: #000;
}

nav li>ul{
    display: none;
    width: 90px;
}

nav li:hover>ul{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;

}
.a1{
    background-color: green;
}
