body{
    /*background-image: url("background.png");*/
    
    /*background-size: auto;
    background-repeat: no-repeat;*/

    /*background-size: cover;*/
    /*background-size: contain;*/
}

.div-1{
    background-image: url("background.png");
    width: 300px 100px;
    background-size: contain;
}
