*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
nav ul{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}
nav li{
    float: left;
    display: block;
    width: 299px;
    height: 30px;
    padding: 5px 10px;
    background-color: rgb(37, 41, 49);
    text-align: center;
    color: #fff;
    position: relative;
}
nav li:hover{
    background-color: #fff;
    color: #000;
}

nav li>ul{
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
    
}

nav li:hover>ul{
    display: grid;
    position: absolute;
    top: 30px;
    left: 0px;
}
